{% extends 'blockchain/base.html' %}

{% block title %}Block {{ block.id }} Details{% endblock title %}

{% block content %}
<h1>Block {{ block_.id }} Details</h1>
<table>
    <tr><th>ID</th><td>{{ block_.id }}</td></tr>
    <tr><th>Timestamp</th><td>{{ block_.timestamp }}</td></tr>
    <tr><th>Data</th><td>{{ block_.data }}</td></tr>
    <tr><th>Hash</th><td>{{ block_.hash }}</td></tr>
    <tr><th>Previous Hash</th><td>{{ block_.previous_hash }}</td></tr>
</table>
<a href="{% url 'home' %}">Back to Blockchain</a>
{% endblock content %}
