{% extends 'blockchain/base.html' %}

{% block title %}Create Mine{% endblock %}

{% block content %}
<h1>Mine a New Block</h1>
<form method="POST">
    {% csrf_token %}
    <div class="d-flex gap-3">
        <input type="text" name="data" placeholder="Enter block data" required class="form-control">
        <button type="submit" class="btn btn-success text-nowrap">Mine Block</button>
    </div>
</form>
{% if last_block %}
    <h2>New Block Mined!</h2>
    <p>Index: {{ last_block.index }}</p>
    <p>Hash: {{ last_block.hash }}</p>


   <a href="{% url 'block_detail' last_block.index %}">View Block</a>


{% endif %}
{% endblock %}
