{% extends 'blockchain/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
      <div class="alert alert-success b-0">
        <p class="m-0">
          BTC Price: <span>{{ btc_price }}$</span>
        </p>
      </div>
    </div>
<h1>Blockchain Page!</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Timestamp</th>
            <th>Data</th>
            <th>Hash</th>
            <th>Previous Hash</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for block in blockchain %}
        <tr>
            <td>{{ block.id }}</td>
            <td>{{ block.timestamp }}</td>
            <td>{{ block.data }}</td>
            <td>
                {% if block.hash|length > 10 %}
                    {{ block.hash|slice:":10" }}...
                {% else %}
                    {{ block.hash }}
                {% endif %}
            </td>
            <td>
                {% if block.previous_hash|length > 10 %}
                    {{ block.previous_hash|slice:":10"}}...
                {% else %}
                    {{ block.previous_hash }}
                {% endif %}
            </td>
            <td><a href="{% url 'block_detail' block.id %}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
